html, body {
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    background-color: #34495E;
}
header {
    height: 60px;
    background-color:black;
    display: flex;
    flex-direction: row;
    background-color: #2C3E50;
    position: sticky;
    top:0;
    z-index: 1;
    border-bottom: 1px solid black;
}
footer {
    height: auto;
    background-color: #2C3E50;
    border-top: 1px solid black;
    font-size: 13px;
}
#bottom {
    border:none;
}
#mainpicture {
    width: 100%;
    max-height: 31em;
    
}
#headername {
    position: relative;
    line-height: 40px;
    margin: 0px;
    display: block;
    color: #FFFFFF;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
}
#opentimes {
    font-size: 20px;
    font-style: oblique;
    float:right;
}
#opentimes2 {
    font-size: 20px;
    font-style: oblique;
}
#burger {
    cursor: pointer;
    
}
#hamburger-menu{
    display:none;
}
#hamburger-menu:checked ~ nav {
    display: block;
}
nav {
    background-color: lawngreen;

}
a:hover {
    color: #AA803C;
}
.headertext {
    display: block;
    color: #FFFFFF;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
}
.headerbutton {
    color: #FFFFFF;
    display: inline-block;
    background-color:black;
    cursor: pointer;
    border-radius: 10px;
    border-color: whitesmoke;
    width: 60px;
    max-height: 40px;

}
.flex {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: auto;
    flex-direction: row;
}
.footertext {
    width: 1000px;
    margin: auto;
    overflow: auto;
}
.singlepicture {
    max-height: 31em;
    margin-top: 50px;
    margin-bottom: 50px;
}
.flexstart {
    flex: start;
}
.flexend {
    flex: end;
}
.flexspace {
    flex-grow: 1;
}
h1 {
    color:#FFFFFF;
}
.duopicture {
    width: 360px;
    max-height: 30%;
    border: 1px solid black;
    position: relative;
    top: 300px;
}
.combine {
    background-image: url(Images/scott-webb-102825.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    border-bottom: 1px solid black;
    
}
.image {
    position: relative;
    text-align: center;
    width: 100%;
}
.infotext {
    width: 750px;
    margin: auto;
    background-color: #2C3E50;
    padding: 80px 125px;
}
.infotextmargin {
    margin-top: 180px;
}
.displaynone {
    display: none;
}
.asd {
    float:le
}
@media screen and (max-width: 420px) {
    .flex,
    .infotext,
    .footertext {
        width: 350px;
    }
    .infotext {
        padding: 0;
        background-color: #34495E;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .singlepicture {
        width: 100%;
    }
    .combine,
    .headertext {
        display: none;
    }
    header {
        position: initial;
    }
    .headerbutton {
        display: none;
    }
    #opentimes {
        display:none;
    }
    
}
@media screen and (min-width: 421px) {
    #burger,
    #hamburger-menu:checked ~ nav,
    #phonemuseum,
    #opentimes2  {
        display: none;
    }
}
