html, body {
    margin: 0%;
    padding: 0%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #ebe2d1;
    background-color: #3A4E61;
}
header {
    flex-direction: row;
    background-color: #203041;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #50874A;
    z-index: 1; /*fixes duopicture overlay*/
}
footer {
    height: auto;
    background-color: #203041;
    border-top: 1px solid #50874A;
    font-size: 14px;
    font-weight: normal;
}
#bottom {
    border:none;
}
#mainpicture {
    width: 100%;
    max-height: 31em;
}
#headername {
    line-height: 40px;
    color: #ebe2d1;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;

}
#opentimes {
    font-size: 20px;
    font-style: oblique;
    float:right;
}
#opentimes2 {
    font-size: 20px;
    font-style: oblique;
    display: none;
}
#burger {
    cursor: pointer;
    
}
#hamburger-menu{
    display: none;
}
.fa-bars {
    font-size: 30px;
    line-height: 40px;
}
#hamburger-menu:checked ~ nav {
    display: none;
}
nav {
    background-color: #203041;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #50874A;
}
nav a {
    width: 350px;
    margin: auto;
}
a:hover {
    color: #f0c142;
}
.headertext {
    display: block;
    color: #ebe2d1;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
}
.Shopbuttontext {
    text-align:center;
    text-decoration: none;
    color:white;
}
.Shopbutton {
    background-color: black;
    padding:5px 15px;
}
.headerbutton {
    color: #f0c142;
    display: inline-block;
    background-color:#3A4E61;
    cursor: pointer;
    border-radius: 10px;
    border-color: #50874A;
    width: 60px;
    max-height: 40px;

}
.flex {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: auto;
    flex-direction: row;
}
.footertext {
    width: 1000px;
    margin: auto;
    overflow: auto;
}
.singlepicture {
    width: 1000px;
    max-height: 31em;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display:block;
}
h1 {
    color:#ebe2d1;
}
.duopicture {
    width: 360px;
    max-height: 300px;
    border: 1px solid #50874A;
    position: relative;
    top: 300px;
}
.combine {
    background-image: url(Images/Explore-together/scott-webb-102825.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    border-bottom: 1px solid #50874A;
    
}
.image {
    width: 100%;
}
.infotext {
    width: 750px;
    margin: auto;
    background-color: #203041;
    padding: 80px 125px;
    font-size: 16px;
    font-weight: normal;
}
.infotextmargin {
    margin-top: 180px;
}
.buttontextstyle {
    font-size: 18px;
    text-decoration: none;
    color:#ebe2d1;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
p strong {
    text-decoration: underline;
}
@media screen and (max-width: 1020px) {
    .flex,
    .infotext,
    .footertext {
        width: 850px;
    }
    .infotext {
        padding: 0;
        background-color: #34495E;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .singlepicture {
        width: 100%;
    }
    .duopicture {
        display: none;
    }
    #headername {
        font-size: 22px;
    } 
    
    
    
}

@media screen and (max-width: 870px) {
    .flex,
    .infotext,
    .footertext {
        width: 790px;
    }
    header {
        position: initial;
    }
    .headerbutton {
        display: none;
    }
    #opentimes {
        display: none;
    }
    #opentimes2 {
        display: block;
    }
    #headername {
        font-size:18px;
    }
}

@media screen and (max-width:810px) {
    .flex,
    .infotext,
    .footertext {
        width: 700px;
    }
    .headertext {
        font-size: 15px;
    }

}

#burger,
#hamburger-menu ~ nav,
#phonemuseum  {
    display: none;
}
@media screen and (max-width:720px) {
    .flex,
    .infotext,
    .footertext {
        width: 600px;
    }
    #headername {
        font-weight: normal;
    }
    .combine,
    .headertext {
        display: none;
    }
    #burger,
    #phonemuseum  {
        display: block;
    }
    #hamburger-menu ~ nav  {
        display: flex;
    }
}


@media screen and (max-width:620px) {
    .flex,
    .infotext,
    .footertext,
    nav a {
        width: 500px;
    }
    
    
    
}
@media screen and (max-width: 520px) {
    .flex,
    .infotext,
    .footertext,
    nav a {
        width: 420px;
    }
}
@media screen and (max-width: 440px) {
    .flex,
    .infotext,
    .footertext,
    nav a {
        width: 350px;
    }
}
@media screen and (max-width: 370px) {
    .flex,
    .infotext,
    .footertext,
    nav a {
        width: 300px;
    }
}

